build/*
!build/*.hjp
*.dSYM/
.DS_Store
cmake_install.cmake
CMakeCache.txt
CMakeFiles/
install_manifest.txt

# CMake 一時ビルドディレクトリ
build_linux/
build_macos/
build_win/

build_linux/
build_macos/
build_win/
